
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />
	<title>Bakery App</title>
	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet" >
	<link href="~/css/tiny-slider.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="favicon.png">
</head>

<body>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="@Url.Action("Index", "Home")">Dulce Espiga<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item active">
						<a class="nav-link" href="@Url.Action("Index", "UsuarioRegistrado")">Home</a>
					</li>
					<li><a class="nav-link" href="@Url.Action("TiendaUsuario", "UsuarioRegistrado")">Tienda</a></li>
					<li><a class="nav-link" href="@Url.Action("ServiciosUsuario", "UsuarioRegistrado")">Nuestros Servicios</a></li>
					<li><a class="nav-link" href="@Url.Action("SobreNosotrosUsuario", "UsuarioRegistrado")">Sobre Nosotros</a></li>
					<li><a class="nav-link" href="@Url.Action("ContactoUsuario", "UsuarioRegistrado")">Contacto</a></li>
					<li><a class="nav-link" href="@Url.Action("Cart", "UsuarioRegistrado")"><img src="~/img/cart.svg"></a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="btn btn-white-outline" href="@Url.Action("PerfilUsuario", "UsuarioRegistrado")">Mi Perfil</a></li>
					<li><a class="btn btn-white-outline" href="@Url.Action("Index", "Home")">Cerrar Sesion</a></li>
					
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->
	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Bakery App <span clsas="d-block"></span></h1>
						<p><a href="@Url.Action("TiendaUsuario", "UsuarioRegistrado")" class="btn btn-secondary me-2">Comprar Ahora</a></p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="hero-img-wrap">
						<img src="~/img/Logo_Transparente.png" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->
	<!-- Start Product Section -->
	<div class="product-section">
		<div class="container">
			<div class="row">



				<!-- Start Column 1 -->
				<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
					<h2 class="mb-4 section-title">Productos en Tendencia</h2>
					<p class="mb-4">Algunos de los productos mas vendidos en nuestra tienda son los siguientes: </p>
					<p><a href="@Url.Action("Tienda", "Home")" class="btn">Ir a la tienda</a></p>
				</div>
				<!-- End Column 1 -->
				<!-- Start Column 2 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" href="@Url.Action("Cart", "UsuarioRegistrado")">
						<img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
						<h3 class="product-title">Cupcake</h3>
						<strong class="product-price">₡2500.00</strong>

						<span class="icon-cross">
							<img src="~/img/cross.svg" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 2 -->
				<!-- Start Column 3 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" href="@Url.Action("Cart", "UsuarioRegistrado")">
						<img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
						<h3 class="product-title">Cupcake</h3>
						<strong class="product-price">₡2500.00</strong>

						<span class="icon-cross">
							<img src="~/img/cross.svg" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 3 -->
				<!-- Start Column 4 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<a class="product-item" href="@Url.Action("Cart", "UsuarioRegistrado")">
						<img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
						<h3 class="product-title">Cupcake</h3>
						<strong class="product-price">₡2500.00</strong>

						<span class="icon-cross">
							<img src="~/img/cross.svg" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 4 -->

			</div>
		</div>
	</div>
	<!-- End Product Section -->
	<!-- Start Why Choose Us Section -->
	<div class="why-choose-section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<h2 class="section-title">¿Por que deberías escogernos?</h2>
					<p>Somos una microempresa costarricense, que busca el crecimiento a través de una página web.</p>

					<div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									@* <img src="img/PRUEBA.png" alt="Image" class="img-fluid"> *@
								</div>
								<h3>Microempresa Costarricense</h3>
								<p>Actualmente buscamos crecer mediante la implementación de un sistema web</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									@* <img src="img/PRUEBA.png" alt="Image" class="img-fluid"> *@
								</div>
								<h3>Facilidad de compra</h3>
								<p>
									Nuestra página web ofrece distintas facilidades para llevar a cabo un pedido, como un carrito de compras para manejar los productos
									que se deseean comprar.
								</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									@* <img src="img/PRUEBA.png" alt="Image" class="img-fluid"> *@
								</div>
								<h3>Soporte mediante distintas plataformas</h3>
								<p>Ofrecemos la posiblidad de atender cualquier duda o consulta especifica en WhatsApp o correo electrónico. </p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									@* <img src="img/PRUEBA.png" alt="Image" class="img-fluid"> *@
								</div>
								<h3>Modalidades de Envío</h3>
								<p>
									Ofrecemos la modalidad de envío mediante motorizado únicamente en ciertas zonas del gran área metropolitina,
									de igual manera ofrecemos la modalidad de retiro en la sucursal.
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Why Choose Us Section -->
	<!-- Start We Help Section -->
	<div class="we-help-section">
		<div class="container">
			@RenderBody()
		
		</div>
	</div>
	<!-- End We Help Section -->
	<!-- Start Popular Product -->
@* 	<div class="popular-product">
		<div class="container">
			<div class="row">

				<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
					<div class="product-item-sm d-flex">
						<div class="thumbnail">
							<img src="img/PRUEBA.png" alt="Image" class="img-fluid">
						</div>
						<div class="pt-3">
							<h3>Nordic Chair</h3>
							<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
							<p><a href="#">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
					<div class="product-item-sm d-flex">
						<div class="thumbnail">
							<img src="img/PRUEBA.png" alt="Image" class="img-fluid">
						</div>
						<div class="pt-3">
							<h3>Kruzo Aero Chair</h3>
							<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
							<p><a href="#">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
					<div class="product-item-sm d-flex">
						<div class="thumbnail">
							<img src="img/PRUEBA.png" alt="Image" class="img-fluid">
						</div>
						<div class="pt-3">
							<h3>Ergonomic Chair</h3>
							<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
							<p><a href="#">Read More</a></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> *@
	<!-- End Popular Product -->
	<!-- Start Testimonial Slider -->
	@* <div class="testimonial-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 mx-auto text-center">
					<h2 class="section-title">Testimonials</h2>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="testimonial-slider-wrap text-center">

						<div id="testimonial-nav">
							<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
							<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
						</div>

						<div class="testimonial-slider">

							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="img/PRUEBA.png" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">Maria Jones</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div>
							<!-- END item -->

							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="img/PRUEBA.png" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">Maria Jones</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div>
							<!-- END item -->

							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="img/PRUEBA.png" alt="Maria Jones" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">Maria Jones</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div>
							<!-- END item -->

						</div>

					</div>
				</div>
			</div>
		</div>
	</div> *@
	<!-- End Testimonial Slider -->
	<!-- Start Blog Section -->
	@* <div class="blog-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6">
					<h2 class="section-title">Recent Blog</h2>
				</div>
				<div class="col-md-6 text-start text-md-end">
					<a href="#" class="more">View All Posts</a>
				</div>
			</div>

			<div class="row">

				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
					<div class="post-entry">
						<a href="#" class="post-thumbnail"><img src="img/PRUEBA.png" alt="Image" class="img-fluid"></a>
						<div class="post-content-entry">
							<h3><a href="#">First Time Home Owner Ideas</a></h3>
							<div class="meta">
								<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
					<div class="post-entry">
						<a href="#" class="post-thumbnail"><img src="img/PRUEBA.png" alt="Image" class="img-fluid"></a>
						<div class="post-content-entry">
							<h3><a href="#">How To Keep Your Furniture Clean</a></h3>
							<div class="meta">
								<span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
					<div class="post-entry">
						<a href="#" class="post-thumbnail"><img src="img/PRUEBA.png" alt="Image" class="img-fluid"></a>
						<div class="post-content-entry">
							<h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
							<div class="meta">
								<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> *@
	<!-- End Blog Section -->
	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="subscription-form">
						<h3 class="d-flex align-items-center"><span class="me-1"><img src="~/img/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribirse a nuestro boletin informativo.</span></h3>

						<form action="#" class="row g-3">
							<div class="col-auto">
								<input type="text" class="form-control" placeholder="Ingresa tu nombre">
							</div>
							<div class="col-auto">
								<input type="email" class="form-control" placeholder="Ingresa tu correo electronico">
							</div>
							<div class="col-auto">
								<button class="btn btn-primary">
									<span class="fa fa-paper-plane"></span>
								</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="@Url.Action("Index", "Home")" class="footer-logo">Dulce Espiga<span>.</span></a></div>
					<p class="mb-4">
						Dulce Espiga es un emprendimiento familiar, centrado en la elaboración de productos relacionados a la pastaleria
						artesanal, actualmente estamos ubicamos en Heredia.
					</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-whatsapp"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="@Url.Action("Tienda", "Home")">Tienda</a></li>
								<li><a href="@Url.Action("Servicios", "Home")">Servicios</a></li>
								<li><a href="@Url.Action("SobreNosotros", "Home")">Sobre Nosotros</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="@Url.Action("Contacto", "Home")">Contacto</a></li>
								<li><a href="@Url.Action("RegistrarUsuario", "Home")">Registrarse</a></li>
							</ul>
						</div>


					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							BakeryApp &copy;<script>document.write(new Date().getFullYear());</script>
						</p>
					</div>

					

				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->


	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/tiny-slider.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>
