
@{
    Layout = "_Layout";
}




<div class="hero">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="intro-excerpt">
                    <h1>Todos nuestros Cupcakes</h1>
                    <p>Registrate para realizar un pedido de nuestro catalogo.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hero-img-wrap">
                    <img src="~/img/Logo_Transparente.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">




            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">

                    </span>
                </a>
            </div>

            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>

            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>

            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->
            <!-- Start Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>

            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>

            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>

            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>


        </div>
    </div>
</div>


