@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}
@using BakeryApp_v1
<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />
	<title>Bakery App</title>
	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/tiny-slider.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="favicon.png">
</head>

<body>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="@Url.Action("Index", "Home")">Dulce Espiga<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item ">
						<a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
					</li>
					<li class="active"><a class="nav-link" href="@Url.Action("Tienda", "Home")">Tienda</a></li>
					<li><a class="nav-link" href="@Url.Action("Servicios", "Home")">Nuestros Servicios</a></li>
					<li><a class="nav-link" href="@Url.Action("SobreNosotros", "Home")">Sobre Nosotros</a></li>
					<li><a class="nav-link" href="@Url.Action("Contacto", "Home")">Contacto</a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="btn btn-white-outline" href="@Url.Action("IniciarSesion", "Home")">Iniciar Sesion</a></li>
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->
	<!-- Start Hero Section -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
		

        <!-- Main content -->
        <section class="content">
			
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">
						<div class="we-help-section">
							<div class="container">
								<div class="row justify-content-between">
									<h1>Personaliza tu producto</h1>
									<br />
									<div class="col-lg-7 mb-5 mb-lg-0">
										<div class="imgs-grid">
											<div class="grid grid-1"><img src="~/img/CupcakePrueba.jpg" alt="Untree.co"></div>
											<div class="grid grid-2"><img src="~/img/CupcakePrueba.jpg" alt="Untree.co"></div>
											<div class="grid grid-3"><img src="~/img/CupcakePrueba.jpg" alt="Untree.co"></div>
										</div>
									</div>
									<div class="col-lg-5 ps-lg-5">
                                        <h3 class="my-3">Cupcake</h3>
                                        <p>Descripcion rapida de este cupcake.</p>

                                        <hr>
                                        <h4>Sabores disponibles</h4>

										<div class="btn-group" role="group" aria-label="Basic mixed styles example">
											<button type="button" class="btn btn-danger" >Chocolate</button>
											<button type="button" class="btn btn-warning prueba">Vainilla</button>
											<button type="button" class="btn btn-success">Vainilla</button>
										</div>

                                        <h4 class="mt-3"><small>Tamanos disponibles</small></h4>
										<div class="btn-group" role="group" aria-label="Basic mixed styles example">
											<button type="button" class="btn btn-danger" >Personal</button>
											<button type="button" class="btn btn-warning">Mediano</button>
											<button type="button" class="btn btn-success">Familiar</button>
										</div>

										<h4 class="mt-3"><small>Tipo de azucar</small></h4>
										<div class="btn-group" role="group" aria-label="Basic mixed styles example">
											<button type="button" class="btn btn-danger">Regular</button>
											<button type="button" class="btn btn-warning">Morena</button>
											<button type="button" class="btn btn-success">Sustituto</button>
										</div>

                                        <div class="bg-gray py-2 px-3 mt-4">
                                            <h2 class="mb-0">
												₡2500.00
                                            </h2>
                                        </div>

                                        <div class="mt-4">
											<p><a href="@Url.Action("RegistrarUsuario", "Home")" class="btn btn-secondary me-2"> <i class="fas fa-cart-plus fa-lg mr-2"></i> Registrarme</a></p>
                                           
                                        </div>

									</div>
								</div>
							</div>
						</div>
                        
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
        <br />
    </div>
    <!-- /.content-wrapper -->
    
	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="subscription-form">
						<h3 class="d-flex align-items-center"><span class="me-1"><img src="~/img/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribirse a nuestro boletin informativo.</span></h3>

						<form action="#" class="row g-3">
							<div class="col-auto">
								<input type="text" class="form-control" placeholder="Ingresa tu nombre">
							</div>
							<div class="col-auto">
								<input type="email" class="form-control" placeholder="Ingresa tu correo electronico">
							</div>
							<div class="col-auto">
								<button class="btn btn-primary">
									<span class="fa fa-paper-plane"></span>
								</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="@Url.Action("Index", "Home")" class="footer-logo">Dulce Espiga<span>.</span></a></div>
					<p class="mb-4"> 
						Dulce Espiga es un emprendimiento familiar, centrado en la elaboración de productos relacionados a la pastaleria
						artesanal, actualmente estamos ubicamos en Heredia.
					</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-whatsapp"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="@Url.Action("Tienda", "Home")">Tienda</a></li>
								<li><a href="@Url.Action("Servicios", "Home")">Servicios</a></li>
								<li><a href="@Url.Action("SobreNosotros", "Home")">Sobre Nosotros</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="@Url.Action("Contacto", "Home")">Contacto</a></li>
								<li><a href="@Url.Action("RegistrarUsuario", "Home")">Registrarse</a></li>
							</ul>
						</div>


					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							BakeryApp &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados
						</p>
					</div>



				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->


	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/tiny-slider.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>
