@{
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">
	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/tiny-slider.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="favicon.png">
</head>

<body>

	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="@Url.Action("Index", "UsuarioRegistrado")">Dulce Espiga<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item active">
						<a class="nav-link" href="@Url.Action("Index", "UsuarioRegistrado")">Home</a>
					</li>
					<li><a class="nav-link" href="@Url.Action("TiendaUsuario", "UsuarioRegistrado")">Tienda</a></li>
					<li><a class="nav-link" href="@Url.Action("ServiciosUsuario", "UsuarioRegistrado")">Nuestros Servicios</a></li>
					<li><a class="nav-link" href="@Url.Action("SobreNosotrosUsuario", "UsuarioRegistrado")">Sobre Nosotros</a></li>
					<li><a class="nav-link" href="@Url.Action("ContactoUsuario", "UsuarioRegistrado")">Contacto</a></li>
					<li><a class="nav-link" href="@Url.Action("Cart", "UsuarioRegistrado")"><img src="~/img/cart.svg"></a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="btn btn-white-outline" href="@Url.Action("PerfilUsuario", "UsuarioRegistrado")">Mi Perfil</a></li>
					<li><a class="btn btn-white-outline" href="@Url.Action("Index", "Home")">Cerrar Sesion</a></li>

				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->
	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Plataforma de Pago.</h1>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- End Hero Section -->
	<div class="untree_co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mb-5 mb-md-0">
					<h2 class="h3 mb-3 text-black">Detalles de la factura</h2>
					<div class="p-3 p-lg-5 border bg-white">
						

						<div class="form-group">
							<label for="c_direccion" class="text-black">Tipo de Envio <span class="text-danger">*</span></label>
							<select id="c_country" class="form-control">
								<option value="1">Seleccione una opción</option>
								<option value="2">Retirar en la sucursal</option>
								<option value="3">Enviar a una de mis direcciones</option>

							</select>
						</div>

						<div class="form-group">
							<label for="c_direccion" class="text-black">Dirección <span class="text-danger">*</span></label>
							<select id="c_country" class="form-control">
								<option value="1">Seleccione una dirección</option>
								<option value="2">Dirección 1</option>
								<option value="3">Dirección 2</option>
								<option value="4">Dirección 3</option>			
							</select>
						</div>

						<div class="form-group row">
							<div class="col-md-6">
								<label for="c_fname" class="text-black">Nombre <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="c_fname" name="c_fname" placeholder="Nombre">
							</div>
							<div class="col-md-6">
								<label for="c_lname" class="text-black">Apellidos <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="c_lname" name="c_lname" placeholder="Apellidos">
							</div>
						</div>

						

						@* <div class="form-group row">
							<div class="col-md-12">
								<label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
							</div>
						</div> *@

						@* <div class="form-group mt-3">
							<input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
						</div> *@

						@* <div class="form-group row">
							<div class="col-md-6">
								<label for="c_state_country" class="text-black">State / Country <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="c_state_country" name="c_state_country">
							</div>
							<div class="col-md-6">
								<label for="c_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
							</div>
						</div> *@

						<div class="form-group row mb-5">
							<div class="col-md-6">
								<label for="c_email_address" class="text-black">Correo <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="c_email_address" name="c_email_address" placeholder="Correoejemplo123@gmail.com">
							</div>
							<div class="col-md-6">
								<label for="c_phone" class="text-black">Telefono <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="0000-0000">
							</div>
						</div>

					


						<div class="form-group">
							<label for="c_order_notes" class="text-black">Ordenes Especiales de Entrega </label>
							<textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Escribe las notas aca..."></textarea>

						</div>
						

					</div>
				</div>
				<div class="col-md-6">

					

					<div class="row mb-5">
						<div class="col-md-12">
							<h2 class="h3 mb-3 text-black">Tu Pedido</h2>
							<div class="p-3 p-lg-5 border bg-white">
								<table class="table site-block-order-table mb-5">
									<thead>
									<th>Producto</th>
									<th>Total</th>
									</thead>
									<tbody>
										<tr>
											<td>Cupcake<strong class="mx-2">x</strong> 1</td>
											<td>₡2500.00</td>
										</tr>
										<tr>
											<td>Cupcake <strong class="mx-2">x</strong>   1</td>
											<td>₡2500.00</td>
										</tr>
										<tr>
											<td class="text-black font-weight-bold"><strong>Subtotal del carrito</strong></td>
											<td class="text-black">₡5000.00</td>
										</tr>
										<tr>
											<td class="text-black font-weight-bold"><strong>Total de la orden</strong></td>
											<td class="text-black font-weight-bold"><strong>₡6200.00</strong></td>
										</tr>
									</tbody>
								</table>

								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Efectivo.</a></h3>

									<div class="collapse" id="collapsebank">
										<div class="py-2">
											<p class="mb-0"> Efectivo.</p>
										</div>
									</div>
								</div>


								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Transferencia Bancaria o SINPE Movil</a></h3>

									<div class="collapse" id="collapsecheque">
										<div class="py-2">
											<p class="mb-0">Transferencia o SINPE.</p>
										</div>
									</div>
								</div>

								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">PayPal</a></h3>

									<div class="collapse" id="collapsecheque">
										<div class="py-2">
											<p class="mb-0">PayPal.</p>
										</div>
									</div>
								</div>



								

								<div class="form-group">
									<label class="form-label" for="customFile">Cargar Archivo</label>
									<input type="file" class="form-control" id="customFile" />
								</div>


								<div class="form-group mt-3">
									<a class="btn btn-black btn-lg py-3 btn-block" href="@Url.Action("Gracias", "UsuarioRegistrado")">Pagar.</a>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- </form> -->
		</div>
	</div>
	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="subscription-form">
						<h3 class="d-flex align-items-center"><span class="me-1"><img src="~/img/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribirse a nuestro boletin informativo.</span></h3>

						<form action="#" class="row g-3">
							<div class="col-auto">
								<input type="text" class="form-control" placeholder="Ingresa tu nombre">
							</div>
							<div class="col-auto">
								<input type="email" class="form-control" placeholder="Ingresa tu correo electronico">
							</div>
							<div class="col-auto">
								<button class="btn btn-primary">
									<span class="fa fa-paper-plane"></span>
								</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="@Url.Action("Index", "Home")" class="footer-logo">Dulce Espiga<span>.</span></a></div>

					<p class="mb-4">
						Dulce Espiga es un emprendimiento familiar, centrado en la elaboración de productos relacionados a la pastaleria
						artesanal, actualmente estamos ubicamos en Heredia.
					</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-whatsapp"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="@Url.Action("Tienda", "Home")">Tienda</a></li>
								<li><a href="@Url.Action("Servicios", "Home")">Servicios</a></li>
								<li><a href="@Url.Action("SobreNosotros", "Home")">Sobre Nosotros</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="@Url.Action("Contacto", "Home")">Contacto</a></li>
								<li><a href="@Url.Action("RegistrarUsuario", "Home")">Registrarse</a></li>
							</ul>
						</div>


					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							BakeryApp &copy;<script>document.write(new Date().getFullYear());</script>
						</p>
					</div>

					

				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->


	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/tiny-slider.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>