@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bakery App</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Ionicons -->
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<!-- Theme style -->
	@* <link rel="stylesheet" href="../../dist/css/adminlte.min.css"> *@
	<link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
	<!-- Font Awesome -->
	@* <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css"> *@
	<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/tiny-slider.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="favicon.png">
	
	<link rel="shortcut icon" href="favicon.png">

</head>

<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="@Url.Action("Index", "UsuarioRegistrado")">Dulce Espiga<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("Index", "UsuarioRegistrado")">Home</a>
						</li>
						<li><a class="nav-link" href="@Url.Action("TiendaUsuario", "UsuarioRegistrado")">Tienda</a></li>
						<li><a class="nav-link active" href="@Url.Action("ServiciosUsuario", "UsuarioRegistrado")">Services</a></li>
						<li><a class="nav-link" href="@Url.Action("SobreNosotrosUsuario", "UsuarioRegistrado")">Sobre Nosotros</a></li>
						<li><a class="nav-link" href="@Url.Action("ContactoUsuario", "UsuarioRegistrado")">Contacto</a></li>
						<li><a class="nav-link" href="@Url.Action("Cart", "UsuarioRegistrado")"><img src="~/img/cart.svg"></a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="btn btn-white-outline" href="@Url.Action("Index", "Home")">Cerrar Sesion</a></li>

					</ul>
				</div>
			</div>

		</nav>
		

		<!-- Content Wrapper. Contains page content -->
		<div>
			<!-- Content Header (Page header) -->
			<section class="content-header">
				
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3">

							<!-- Profile Image -->
							<div class="card card-primary card-outline ">
								<div class="card-body box-profile ">
									<div class="text-center">
										<img class="profile-user-img img-fluid img-circle"
											 src="../../dist/img/user4-128x128.jpg"
											 alt="User profile picture">
									</div>

									<h3 class="profile-username text-center">Prueba</h3>

									<p class="text-muted text-center">Cliente</p>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
							<!-- About Me Box -->
							<div class="card card-primary ">
								<div class="card-header custom-navbar">
									<h3 class="card-title">Mis datos personales</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<strong><i class="fas fa-user mr-1"></i> Nombre </strong>

									<p class="text-muted">
										Prueba
									</p>

									<hr>

									<strong><i class="fas fa-user mr-1"></i> Apellidos </strong>

									<p class="text-muted">Prueba, Prueba</p>

									<hr>

									<strong><i class="fas fa-user mr-1"></i> Correo </strong>

									<p class="text-muted">
										prueba@gmail.com
									</p>

									<hr>

									<strong><i class="far fa-user mr-1"></i> Telefono </strong>

									<p class="text-muted">+506 0000-8888</p>

									<hr>

									<strong><i class="far fa-user mr-1"></i> Provincia de Residencia </strong>

									<p class="text-muted">Alajuela </p>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<div class="card">
								<div class="card-header p-2">
									<ul class="nav nav-pills">
										<li class="nav-item"><a class="nav-link" href="#verpedidos" data-toggle="tab">Mis Pedidos</a></li>
										<li class="nav-item"><a class="nav-link" href="#editarcuenta" data-toggle="tab">Editar Perfil</a></li>
										<li class="nav-item"><a class="nav-link" href="#eliminarcuenta" data-toggle="tab">Eliminar Cuenta</a></li>
										<li class="nav-item"><a class="nav-link" href="#agregardireccion" data-toggle="tab">Agregar Direccion</a></li>
										<li class="nav-item"><a class="nav-link" href="#modificardireccion" data-toggle="tab">Modificar Direccion</a></li>
										<li class="nav-item"><a class="nav-link" href="#eliminardireccion" data-toggle="tab">Eliminar Direccion</a></li>
										<li class="nav-item"><a class="nav-link" href="#verdirecciones" data-toggle="tab">Ver mis Direcciones</a></li>
									</ul>
								</div><!-- /.card-header -->
								<div class="card-body">
									<div class="tab-content">						
										<div class="tab-pane" id="verpedidos">
											<div class="col-md-6">
												<!-- /.card -->

												<div class="card">
													<div class="card-header">
														<h3 class="card-title">Pedido 1</h3>
													</div>
													<!-- /.card-header -->
													<div class="card-body p-0">
														<table class="table table-striped">
															<thead>
																<tr>
																	<th>Progreso</th>
																	<th style="width: 40px">Porcentaje</th>
																	<th style="width: 40px">Estado</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>
																		<div class="progress progress-xs">
																			<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
																		</div>
																	</td>
																	<td><span class="badge bg-danger">55%</span></td>
																	<td><span class="badge bg-primary"> Preparando </span></td>
																</tr>
																
															</tbody>
														</table>
													</div>
													<!-- /.card-body -->
												</div>
												<!-- /.card -->
											</div>
										
											
										</div>
										<!-- /.tab-pane -->

										<div class="tab-pane" id="editarcuenta">
											<form class="form-horizontal">
												<div class="form-group row">
													<label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
													<div class="col-sm-10">
														<input type="email" class="form-control" id="inputName" placeholder="Nombre">
													</div>
												</div>
												<div class="form-group row">
													<label for="inputName2" class="col-sm-2 col-form-label">Apellidos</label>
													<div class="col-sm-10">
														<input type="text" class="form-control" id="inputName2" placeholder="Apellidos">
													</div>
												</div>
												<div class="form-group row">
													<label for="inputName2" class="col-sm-2 col-form-label">Telefono</label>
													<div class="col-sm-10">
														<input type="text" class="form-control" id="inputName2" placeholder="Telefono">
													</div>
												</div>
											
												
												<div class="form-group row">
													<div class="offset-sm-2 col-sm-10">
														<button type="submit" class="btn btn-danger">Realizar cambios</button>
													</div>
												</div>
											</form>
										</div>


										<div class="tab-pane" id="eliminarcuenta">
											<form class="form-horizontal">
												<div class="form-group row">
													<label for="inputName" class="col-sm-2 col-form-label">Correo</label>
													<div class="col-sm-10">
														<input type="email" class="form-control" id="inputName" placeholder="Correo">
													</div>
												</div>
												<div class="form-group row">
													<label for="inputName2" class="col-sm-2 col-form-label">Contraseña</label>
													<div class="col-sm-10">
														<input type="password" class="form-control" id="inputName2" placeholder="****">
													</div>
												</div>


												<div class="form-group row">
													<div class="offset-sm-2 col-sm-10">
														<button type="submit" class="btn btn-danger">Eliminar</button>
													</div>
												</div>
											</form>
										</div>
										<div class="tab-pane" id="agregardireccion">
											<div class="form-group">
												<label for="c_country" class="text-black">Provincia <span class="text-danger"></span></label>
												<select id="c_country" class="form-control">
													<option value="1">Seleccione una provincia</option>
													<option value="2">Heredia</option>
													<option value="3">San José</option>
													<option value="3">Alajuela</option>
													<option value="3">Cartago </option>
													</select>
											</div>
											<div class="form-group">
												<label for="c_country" class="text-black">Canton <span class="text-danger"></span></label>
												<select id="c_country" class="form-control">
													<option value="1">Seleccione un canton</option>
													<option value="2">Canton 1</option>
													<option value="3">Canton 2</option>
													<option value="3">Canton 3</option>
													<option value="3">Canton 4</option>
												</select>
											</div>
											<div class="form-group row">
												<div class="col-md-12">
													<label for="c_companyname" class="text-black">Distrito </label>
													<input type="text" class="form-control" id="c_companyname" name="c_companyname" placeholder="distrito">
												</div>
											</div>
											<div class="form-group">
												<label for="c_order_notes" class="text-black">Dirección Exacta</label>
												<textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Escribe tu dirección aquí..."></textarea>

											</div>
											<div class="form-group row">
												<div>
													<button type="submit" class="btn btn-danger">Agregar Dirección</button>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="modificardireccion">
											<div class="form-group">
												<label for="c_country" class="text-black">Dirección a modificar<span class="text-danger"></span></label>
												<select id="c_country" class="form-control">
													<option value="1">Direccion </option>
													<option value="2">Direccion 1 </option>
													<option value="3">Direccion 2</option>
													<option value="3">Direccion 3</option>
													<option value="3">Direccion 4 </option>
												</select>
											</div>
											<div class="form-group">
												<label for="c_country" class="text-black">Provincia <span class="text-danger"></span></label>
												<select id="c_country" class="form-control">
													<option value="1">Seleccione una provincia</option>
													<option value="2">Heredia</option>
													<option value="3">San José</option>
													<option value="3">Alajuela</option>
													<option value="3">Cartago </option>
												</select>
											</div>
											<div class="form-group">
												<label for="c_country" class="text-black">Canton <span class="text-danger"></span></label>
												<select id="c_country" class="form-control">
													<option value="1">Seleccione un canton</option>
													<option value="2">Canton 1</option>
													<option value="3">Canton 2</option>
													<option value="3">Canton 3</option>
													<option value="3">Canton 4</option>
												</select>
											</div>
											<div class="form-group row">
												<div class="col-md-12">
													<label for="c_companyname" class="text-black">Distrito </label>
													<input type="text" class="form-control" id="c_companyname" name="c_companyname" placeholder="Distrito">
												</div>
											</div>
											<div class="form-group">
												<label for="c_order_notes" class="text-black">Dirección Exacta</label>
												<textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Escribe tu dirección aquí..."></textarea>

											</div>
											<div class="form-group row">
												<div>
													<button type="submit" class="btn btn-danger">Modificar Dirección</button>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="eliminardireccion">
											<div class="form-group">
												<label for="c_country" class="text-black">Dirección a eliminar<span class="text-danger"></span></label>
												<select id="c_country" class="form-control">
													<option value="1">Direccion </option>
													<option value="2">Direccion 1 </option>
													<option value="3">Direccion 2</option>
													<option value="3">Direccion 3</option>
													<option value="3">Direccion 4 </option>
												</select>
											</div>
									
											<div class="form-group row">
												<div>
													<button type="submit" class="btn btn-danger">Eliminar Dirección</button>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="verdirecciones">
											<div class="col-md-6">
												<!-- /.card -->

												<div class="card">
													<div class="card-header">
														<h3 class="card-title">Dirección 1</h3>
													</div>
													<!-- /.card-header -->
													<div class="card-body p-0">
														<table class="table table-striped">
															<thead>
																<tr>
																	<th>Provincia</th>
																	<th>Canton</th>
																	<th>Distrito</th>
																	<th>Dirección exacta</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>
																		Heredia
																	</td>
																	<td> Heredia</td>
																	<td> Heredia </td>
																	<td> 200 metros sur</td>
																</tr>

															</tbody>
														</table>
													</div>
													<!-- /.card-body -->
												</div>
												<!-- /.card -->
											</div>


										</div>
									</div>



										<!-- /.tab-pane -->
									</div>
									<!-- /.tab-content -->
								</div><!-- /.card-body -->
							</div>
							<!-- /.nav-tabs-custom -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="sofa-img">
					<img src="~/img/Logo_Transparente.png" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="~/img/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribirse a nuestro boletin informativo.</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Ingresa tu nombre">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Ingresa tu correo electronico">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="@Url.Action("Index", "Home")" class="footer-logo">Dulce Espiga<span>.</span></a></div>

						<p class="mb-4">
							Dulce Espiga es un emprendimiento familiar, centrado en la elaboración de productos relacionados a la pastaleria
							artesanal, actualmente estamos ubicamos en Heredia.
						</p>


						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-whatsapp"></span></a></li>
						</ul>

						
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="@Url.Action("Tienda", "Home")">Tienda</a></li>
									<li><a href="@Url.Action("Servicios", "Home")">Servicios</a></li>
									<li><a href="@Url.Action("SobreNosotros", "Home")">Sobre Nosotros</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="@Url.Action("Contacto", "Home")">Contacto</a></li>
									<li><a href="@Url.Action("RegistrarUsuario", "Home")">Registrarse</a></li>
								</ul>
							</div>


						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">
								BakeryApp &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados
							</p>
						</div>

						

					</div>
				</div>

			</div>
		</footer>
		

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->


	<!-- jQuery -->
	<script src="../../plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../dist/js/demo.js"></script>
</body>
</html>
