@{
    Layout = "_LayoutUsuario";
}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Tienda</h1>
                    <p>A continuación se presentan las categorías y productos disponibles.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hero-img-wrap">
                    <img src="~/img/Logo_Transparente.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<!-- Categorias -->

<div class="product-section">
    <div class="container justify-content-center">
        <div class="col-lg-8">
            <div class="intro-excerpt">
                <h1>Busca tu producto en nuestras categorias.</h1>
                <p>Si ya tienes un antojo, utilza nuestras categorias para encontrar lo que buscas.</p>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">



            <!-- Start Column 1 -->
            @* <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
            <h2 class="mb-4 section-title">Busca tu producto en nuestras categorias.</h2>
            <p class="mb-4">Si ya tienes un antojo, utilza nuestras categorias para encontrar lo que buscas. </p>
            </div> *@
            <!-- End Column 1 -->
            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="@Url.Action("Categorias", "UsuarioRegistrado")">
                    <img src="~/img/QuequeChocolate.jpg" class="img-fluid product-thumbnail">
                    <strong class="product-price">Pasteles</strong>
                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>

                </a>

            </div>
            <!-- End Column 2 -->
            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="@Url.Action("Categorias", "UsuarioRegistrado")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <strong class="product-price">Cupcakes</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 3 -->

        </div>
    </div>
</div>

<!-- Categorias -->

<div class="hero">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="intro-excerpt">
                    <h1>Todos nuestros productos</h1>
                </div>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>
</div>




<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
          
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "Home")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Queque de Chocolate</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">

                    </span>
                </a>
            </div>
          
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "UsuarioRegistrado")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Cupcake de Fresa</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
         
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "UsuarioRegistrado")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Queque de Vainilla</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
           
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "UsuarioRegistrado")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title"> Cupcake de Chocolate </h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "UsuarioRegistrado")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title"> Buñuelo </h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
         
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "UsuarioRegistrado")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Empanadas de Chiverre</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
          
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "UsuarioRegistrado")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Empanadas de Piña</h3>
                    <strong class="product-price">₡3500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
         
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="@Url.Action("PersonalizarProducto", "UsuarioRegistrado")">
                    <img src="~/img/CupcakePrueba.jpg" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Queque de Maní</h3>
                    <strong class="product-price">₡2500.00</strong>

                    <span class="icon-cross">
                        <img src="~/img/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
     

        </div>
    </div>
</div>


