@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bakery App</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- DataTables -->
    <link href="~/plugins/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Font Awesome -->

    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/tiny-slider.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">


    <link rel="shortcut icon" href="favicon.png">

</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Administrador")">Dulce Espiga<span>.</span></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsFurni">
                    <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("PerfilAdministrador", "Administrador")">Perfil</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Inventario", "Administrador")">Inventario</a></li>
                        <li class="nav-item"><a class="nav-link active" href="@Url.Action("Productos", "Administrador")">Productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Categorias", "Administrador")">Categorias </a></li>
                        <li class="nav-item"><a class="nav-link active" href="@Url.Action("Recetas", "Administrador")">Recetas</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Facturas", "Administrador")">Facturas</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Pedidos", "Administrador")">Pedidos</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Marketing", "Administrador")">Marketing </a></li>
                    </ul>

                    <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                        <li><a class="btn btn-white-outline" href="@Url.Action("Index", "Home")">Cerrar Sesion</a></li>

                    </ul>
                </div>
            </div>

        </nav>

        <!-- Main content -->
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Categorias</h1>

                        </div>

                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card card-solid">
                    <div class="card-body pb-0">
                        <div class="row d-flex align-items-stretch">
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                <div class="card bg-light">
                                    <div class="card-header text-muted border-bottom-0">
                                        Categoria 1
                                    </div>
                                    <br />
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="lead"><b>Categoria Cupcakes</b></h2>
                                                <p class="text-muted text-sm"><b>Nombre: </b> Cupcakes </p>
                                                <p class="text-muted text-sm"><b>Detalles: </b> Productos muy dulces </p>

                                            </div>
                                            <div class="col-5 text-center">
                                                <img src="~/img/CupcakePrueba.jpg" alt="" class="img-circle img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a href="@Url.Action("EditarCategoria", "Administrador")" class="btn btn-sm btn-primary">
                                                Editar
                                            </a>
                                            <a href="#" class="btn btn-sm">
                                                Eliminar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                <div class="card bg-light">
                                    <div class="card-header text-muted border-bottom-0">
                                        Categoria 2
                                    </div>
                                    <br />
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="lead"><b>Categoria Cupcakes</b></h2>
                                                <p class="text-muted text-sm"><b>Nombre: </b> Cupcakes </p>
                                                <p class="text-muted text-sm"><b>Detalles: </b> Productos muy dulces </p>

                                            </div>
                                            <div class="col-5 text-center">
                                                <img src="~/img/CupcakePrueba.jpg" alt="" class="img-circle img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a href="@Url.Action("EditarCategoria", "Administrador")" class="btn btn-sm btn-primary">
                                                Editar
                                            </a>
                                            <a href="#" class="btn btn-sm">
                                                Eliminar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                <div class="card bg-light">
                                    <div class="card-header text-muted border-bottom-0">
                                        Categoria 3
                                    </div>
                                    <br />
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="lead"><b>Categoria Cupcakes</b></h2>
                                                <p class="text-muted text-sm"><b>Nombre: </b> Cupcakes </p>
                                                <p class="text-muted text-sm"><b>Detalles: </b> Productos muy dulces </p>

                                            </div>
                                            <div class="col-5 text-center">
                                                <img src="~/img/CupcakePrueba.jpg" alt="" class="img-circle img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a href="@Url.Action("EditarCategoria", "Administrador")" class="btn btn-sm btn-primary">
                                                Editar
                                            </a>
                                            <a href="#" class="btn btn-sm">
                                                Eliminar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                           


                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                            @* <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li> *@
                            <li>
                                <a href="@Url.Action("AgregarCategoria", "Administrador")" class="btn btn-sm btn-primary">
                                    Agregar Categoria
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /.card-footer -->
        </div>
        <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--------------------------------------------- /.Dashboard ---------------------------------------------------------------------->
    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">





            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="@Url.Action("Index", "Home")" class="footer-logo">Dulce Espiga<span>.</span></a></div>
                    <p class="mb-4">
                        Dulce Espiga es un emprendimiento familiar, centrado en la elaboración de productos relacionados a la pastaleria
                        artesanal, actualmente estamos ubicamos en Heredia.
                    </p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-whatsapp"></span></a></li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="row links-wrap">
                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Tienda", "Home")">Tienda</a></li>
                                <li><a href="@Url.Action("Servicios", "Home")">Servicios</a></li>
                                <li><a href="@Url.Action("SobreNosotros", "Home")">Sobre Nosotros</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Contacto", "Home")">Contacto</a></li>
                                <li><a href="@Url.Action("RegistrarUsuario", "Home")">Registrarse</a></li>
                            </ul>
                        </div>


                    </div>
                </div>

            </div>

            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">
                            BakeryApp &copy;<script>document.write(new Date().getFullYear());</script>
                        </p>
                    </div>



                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer Section -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>

    <script src="~\plugins\chart.js\chart.min.js"></script>
</body>
</html>
